{{#each days}}
    <section class="day-container">
        <div class="date">
            <time datetime="{{datetime}}">{{time_format datetime "%F"}}</time>
        </div>
        {{#each subjects}}
            <article>
                <details>
                    <summary>
                        {{ subject }} <span class="chip" style="font-size: 60%">{{len papers}}</span>
                    </summary>
                    <div class="details-content">
                        {{#each papers}}
                            {{#if (highlight_title title authors)}}
                                <article>
                                    <details class="article-expander">
                                        <summary class="article-expander-title">
                                            {{#if (ne updated published)}}♻{{/if}} {{highlight_title title authors}} {{highlight_conference comment}}
                                        </summary>
                                        <div class="article-authors">
                                            <a href="{{id}}">
                                                <i class="ri-links-line"></i>
                                            </a>
                                            <a href="{{pdf_url}}">
                                                <i class="ri-file-paper-2-line"></i>
                                            </a>
                                            {{highlight_author authors}}
                                        </div>
                                        <div class="article-summary-box-inner">
                                            <span>{{summary}}</span>
                                        </div>
                                        {{#if comment}}
                                            <div class="article-summary-box-inner">
                                                <span class="chip">comment</span>: <span>{{comment}}</span>
                                            </div>
                                        {{/if}}
                                    </details>
                                </article>
                            {{/if}}
                        {{/each}}
                    </div>
                </details>
            </article>
        {{/each}}
    </section>
{{/each}}
